<div class="container-fluid h-100 ps-0">
  <div class="h-100 d-flex ps-1">


  <div class="bg-light-subtle d-flex flex-column justify-content-between h-100 py-2 ps-0 ">

  <div class="d-flex flex-column col-10">
    <div class="col-2  my-1" style="border-left: 5px solid #00912e;">
      <a class="text-decoration-none"><i class="menu-items py-2 pe-2 fa-solid fa-comment fs-4 ps-2 text-success"></i></a>
    </div>
    <div class="col-2 my-1" style="border-left: 5px solid #00912e;">
      <a class="text-decoration-none"><i class="menu-items fa-regular py-2 pe-2 fa-comment fs-4 ps-2 text-success"></i></a>
    </div>
    <div class="col-2 my-1" style="border-left: 5px solid #00912e;">
      <a class="text-decoration-none"><i class="menu-items fa-regular py-2 pe-2 fa-user fs-4 ps-2 text-success"></i></a>
    </div>
    <div class="col-2 my-1" style="border-left: 5px solid #00912e;">
      <a class="text-decoration-none"><i class="menu-items fa-regular py-2 pe-2 fa-folder fs-4 ps-2 text-success"></i></a>
    </div>
    <div class="col-2 my-1" style="border-left: 5px solid #00912e;">
      <a class="text-decoration-none"><i class="menu-items fa-solid py-2 pe-2 fa-gear fs-4 ps-2 text-success" ></i></a>
    </div>
  </div>

<div class="col-2">
  <i class="fa-regular fa-image fs-4 ps-3"></i>
</div>


</div>


<!--Here We Put The Setting Or chat Component-->
<div class="col-11 d-flex align-items-center">
  <h2 class="m-auto">Message Content View : ) </h2>
</div>


</div>
</div>
