<div class="container-fluid  h-100">


 <div class="d-flex flex-column justify-content-between h-100">

    <div class="nav-bar d-flex justify-content-between align-items-center bg-light-subtle py-2">
      <div class="col-1 text-center">
        <img src="https://picsum.photos/40" class="rounded-circle pe-2"  alt="">
      </div>
        <div class="col-9">
            <div class="m-0 p-0 ">
              <span class="fw-semibold">User Name</span>
            </div>
            <div class="d-flex align-items-center m-0 p-0">
              <span class="fw-semibold opacity-75" style="font-size: small;">Active</span>
              <i class="fa-solid fa-circle text-success ps-1" style="font-size: 10px;"></i>
            </div>

      </div>
      <div class="d-flex justify-content-evenly col-2 float-end">
        <a class="text-decoration-none text-success" role="button"><i class="fs-5 fa-solid fa-phone"></i></a>
        <a class="text-decoration-none text-success" role="button"><i class="fs-5 fa-solid fa-video"></i></a>
        <a class="text-decoration-none text-success" role="button"><i class="fs-5 fa-solid fa-circle-info"></i></a>
      </div>


    </div>

    <div class="message-body h-100 bg-info-subtle overflow-y-scroll">

    </div>


    <div class="message-input p-2 shadow rounded-2 bg-light-subtle">
      <div class="d-flex align-items-center justify-content-between">
        <div class="col-1 text-center">
          <a role="button" class=" text-decoration-none">
            <i class="fa-regular fa-face-smile text-success fs-4"></i>
          </a>
        </div>
        <div class="col-9">
          <input type="text" class="form-control w-100" placeholder="Type....">
        </div>
        <div class="col-2 d-flex justify-content-evenly">
          <a role="button" class=" text-decoration-none">
            <i class="fa-solid fa-microphone text-success fs-4"></i>
          </a>
          <a role="button" class=" text-decoration-none">
             <i class="fa-regular fa-paper-plane text-success fs-4"></i>
          </a>
        </div>
      </div>
    </div>
 </div>


</div>
